<script>
    function newRoute(model){
        location.href = '/product/' + model;
    }
</script>
<!-- Outputs the content of the results var passed to the file from index.js as a list -->
<div style="border: solid #ddd 2px; border-radius: 10px; overflow: hidden;">
    <table class="table" id="table">
        <thead>
            <tr class="header">
                <th onclick="">Type <i class="fa-solid fa-caret-down" ></i></th>
                <th onclick="">Number <i class="fa-solid fa-caret-down"></i></th>
                <th onclick="">Brand <i class="fa-solid fa-caret-down"></i></th>
                <th onclick="">Model <i class="fa-solid fa-caret-down"></i></th>
                <th onclick="">Rank <i class="fa-solid fa-caret-down"></i></th>
                <th onclick="">Benchmark <i class="fa-solid fa-caret-down"></i></th>
            </tr>
        </thead>
    <% results.forEach(function(item) { %>
        <tbody>
            <tr class="data" onclick="newRoute('<%= item.model %>')">
                <td><%= item.type %></td>
                <td><%= item.number %></td>
                <td><%= item.brand %></td>
                <td><%= item.model %></td>
                <td><%= item.rank %></td>
                <td><%= item.benchmark %></td>
            </tr>
        </tbody>
    <% }); %>
    </table>
</div>