<!-- Outputs the content of the results var passed to the file from index.js as a list -->
<div id="table" style="border: solid #ddd 2px; border-radius: 10px; overflow: hidden;">
    <table class="table">
        <tr>
        <th>Type <i class="fa-solid fa-caret-down"></i></th>
        <th>Number <i class="fa-solid fa-caret-down"></i></th>
        <th>Brand <i class="fa-solid fa-caret-down"></i></th>
        <th>Model <i class="fa-solid fa-caret-down"></i></th>
        <th>Rank <i class="fa-solid fa-caret-down"></i></th>
        <th>Benchmark <i class="fa-solid fa-caret-down"></i></th>
        </tr>
    <% results.forEach(function(r) { %>
        <tr>
        <td><%= r.type %></td>
        <td><%= r.number %></td>
        <td><%= r.brand %></td>
        <td><%= r.model %></td>
        <td><%= r.rank %></td>
        <td><%= r.benchmark %></td>
        </tr>
    <% }); %>
    </table>
</div>