<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
        <!-- <link rel="stylesheet" href=""> -->
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>

        title: <%= title %>
        <br>
        picture: <%= picture %>
        <br>
        link: <%= link %>
        <br>
        location: <%= location %>
        <br>
        country: <%= country %>
        <br>
        price: <%= price %>
        <br>
        currency: <%= currency %>


    </body>
</html>